@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) and (max-width: 1024px) {
  input[type="search"] {
    max-width: 128px;
  }
}

::selection {
  background-color: hsl(350.73deg 64.4% 37%);
  color: white;
}
